body{
  font: 15px/1.5 Arial, Helvica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#8B0000;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#e6e6e6;
  color:#000000;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#000000;
  color:#ffffff;
  padding-top: 10px;
  min-height:70px;
  border-bottom:#ffff00 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:-10px;
}

header .highlight, header .current a{
  color:#8B0000;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url("../img/tourism.jpg") no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-button:10px;
}

#showcase p{
  font-size:20px;
}

#newsletter{
  padding:15px;
  color:#000000;
  background:#f4f4f4
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:5px;
  color:#ffffff;
  background-color:#000000;
  text-align:center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li{
    float:none;
    text-align=center;
    width:100%;
  }
  header{
    padding-bottom:10px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button{
    display:block;
    width:100%
  }
}
